#meal-plans {
    padding: 0 100px 100px;
    text-align: center;
}

#meal-plans header {
    position: relative;
}

#meal-plans header img {
    position: absolute;
}

#meal-plans header img:nth-child(1) {
    top: -20px;
    left: -70px;
}

#meal-plans header img:nth-child(2) {
    top: 30px;
    right: 0;
}

#meal-plans header #menu-leaf {
    top: 0;
    left: 0;
}

#meal-plans h1 {
    font-size: 40px;
    padding: 25px 0;
    margin: 10px 0 0;
    text-align: center;
    background-color: var(--color-primary);
    border-radius: 50px 0 50px 0;
    color: white;
}

#meal-plans > img {
    display: block;
    margin: 40px auto 0;
}

#plans-header {
    font-size: 32px;
    padding: 0;
    margin: 0;
    color: var(--color-primary);
}

#meal-plans p {
    padding:0;
    margin: 0;
}

#plan-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.plan {
    padding: 32px 40px;
    width: 33%;
    transition: 0.4s;
    background-color: var(--color-complimentary);
    color: var(--color-text-primary);
    box-shadow: 0 15px 15px 8px rgba(12, 76, 53, .1);
    border-radius: 0 40px 0 40px;
}

.active-plan, .plan:hover {
    cursor: pointer;
    background-color: var(--color-primary);
    color: #fff;
    box-shadow: 0 15px 15px 8px rgba(12, 76, 53, .3);
}

.plan-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    min-height: 650px;
    
}

.plan-inner h3 {
    margin: 0;
    font-size: 35px;
    font-weight: bold;
}

.plan-inner-images {
    margin: 20px auto;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.plan-inner img {
    width: 150px;
    height: 150px;
    margin: 0 -20px;
    object-fit: cover;
    transform: rotate(-15deg);
    box-shadow: 4px 4px 0 4px var(--color-primary);
}

.double-plan img:last-child {
    transform: rotate(15deg);
}

.bulk-plan img {
    margin: 0 -80px;
    width: 120px;
    height: 120px;
}

.bulk-plan img:nth-child(1) {
    transform: rotate(30deg);
    z-index: 3;
    position: relative;
    top: 30px;
}

.bulk-plan img:nth-child(2) {
    transform: rotate(10deg);
    z-index: 2;
}

.bulk-plan img:nth-child(3) {
    transform: rotate(-10deg);
    z-index: 1;
}

.bulk-plan img:nth-child(4) {
    transform: rotate(-30deg);
    z-index: 0;
    position: relative;
    top: 30px;
}

.plan-price {
    flex-direction: column;
    margin-bottom: 8px;
}

.plan-price li:nth-child(1) {
    font-size: 30px;
    margin-bottom: 8px;
}

.plan-price li:nth-child(1), .plan-price li:nth-child(3) {
    color: var(--color-text-primary);
}

.plan-desc {
    font-size: 18px;
}

.plan-details {
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 40px 0 40px 0;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    padding: 12px 25px;
}

.active-plan .plan-details, .plan:hover .plan-details {
    background-color: var(--color-complimentary);
}

.active-plan .plan-inner img, .plan:hover .plan-inner img {
    box-shadow: 4px 4px 0 4px var(--color-complimentary);
}

.qty-divider {
    border: solid 2px var(--color-text-primary);
    border-radius: 2px;
}

.plan-details h5, .plan-details span {
    margin: 0;
    font-weight: bolder;
}

.plan-details h5 {
    font-size: 18px;
}

.plan-details span {
    font-size: 30px;
}

.plan-cta {
    border: none;
    width: 137px;
    height: 52px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.4s;
    color: #fff;
    margin: 50px 10px 0;
}

.plan-cta:hover {
    box-shadow: 0 15px 15px 8px rgba(12, 76, 53, .1);
    color: var(--color-text-primary);
}